.header{
  background: lightgreen;
  padding: 20px;
  display: flex;
}
h1{
  font-weight: bold;
  padding-right: 20px;
  font-size: 24px;
}
a{
  padding: 0 20px;
}
.aaa{
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.image{
  background-image: musician-349790__180;
}
.body{
  display: flex;
  margin: 50px 0 0 50px;
}
.bbb{
  text-decoration: none;
  color: black;
}